{
    "_comment": "Please type Ctrl C + ' to commit your config",
    "main_dir": "/Users/xiefei/thief/awe-website/thiefuniverse.github.io/",
    "package_dir":"",
    "master_name":"Thankly",
    "avatar_path":"media/img/avatar4.png",
    "github_link":"https://github.com/thiefuniverse",
    "page_title":"Thief's Valley",
    "author":"thief",
    "blog_email":"thiefuniverses@gmail.com",
    "description":"Welcome to Thief's Valley!",
    "blog_keywords":"thiefuniverse flythief",
    "blog_name":"Thiefuniverse",
    "cool_sentance":"Do what you want to do, love what you love.",
    "blog_info":"Blog -- for My Beautiful Life!",
    "disqus_ID":"thiefuniverse"
}
    
