<!DOCTYPE html>
<html lang="en-us">
{{> header}}
<body class="wrapper">
  <header>
    {{> content-title}}
  </header>
  <section>
    {{> blog-content}}
    {{> blog-comment}}
  </section>
  {{> footer}}
<script src="javascripts/scale.fix.js"></script>
  </body>
</html>
