<footer>
  <small><a href="{{github-link}}"><strong>{{master-name}}</strong></a>'s <a href="{{high-dir}}index.html">Personal Blog</a>.</small>
  <br>
  <small>about this page's <a href="https://github.com/thiefuniverse/blog-minimal">generation</a></small>
</footer>
<script src="javascripts/scale.fix.js"></script>