<!DOCTYPE html>
<html lang="en-us">
{{> header}}
<body class="wrapper">
  <header>
    {{> person-zone}}
    {{> nav}}
  </header>
  <section id="blog-index">
    {{> blog-index}}
  </section>
  {{> footer}}
</body>

</html>
