<br><br>
  <nav class="main-nav">
    <a href="{{github-link}}"><img class="nav-image" title="{{github-link}}" src="media/img/github.png"></a>
    <a href="mailto:{{personal-email}}"><img class="nav-image" title="{{personal-email}}" src="media/img/mail.png"></a>
    <br>
  </nav>
