
<div id="outline-container-org1c8f660" class="outline-2">
<h2 id="org1c8f660">Who I am?</h2>
<div class="outline-text-2" id="text-org1c8f660">
</div><div id="outline-container-org11c0836" class="outline-3">
<h3 id="org11c0836">Now I'm a Junior  CS student at BUPT (Beijing University of Post and Telecomunication)</h3>
</div>
<div id="outline-container-org727799f" class="outline-3">
<h3 id="org727799f">I like programming and computer!</h3>
</div>
</div>

<div id="outline-container-org38a918e" class="outline-2">
<h2 id="org38a918e">Skills</h2>
<div class="outline-text-2" id="text-org38a918e">
</div><div id="outline-container-org2905275" class="outline-3">
<h3 id="org2905275">C++ (basic)</h3>
</div>
<div id="outline-container-org0846ff4" class="outline-3">
<h3 id="org0846ff4">elisp (like emacs)</h3>
</div>
<div id="outline-container-org9d6f760" class="outline-3">
<h3 id="org9d6f760">Be skilled at linux environment.</h3>
</div>
</div>
